.stay-in-the,
.your-source-for {
  align-self: stretch;
  position: relative;
}
.your-source-for {
  letter-spacing: -0.01em;
  line-height: 1.25rem;
  font-weight: 500;
}
.stay-in-the {
  font-size: var(--font-size-xs-2);
  line-height: 1rem;
  color: var(--website-secondary-text);
}
.text-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-smi-8);
}
.label2 {
  position: relative;
  line-height: 1rem;
  font-weight: 500;
}
.label1 {
  width: 15rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.user-icon {
  height: 1rem;
  width: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.placeholder {
  flex: 1;
  position: relative;
  line-height: 1.25rem;
}
.eye-icon {
  height: 1rem;
  width: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.input1 {
  align-self: stretch;
  box-shadow: 0 0.8px 1.6px rgba(2, 44, 34, 0.08),
    0 0 0 0.8px rgba(2, 44, 34, 0.13);
  border-radius: var(--br-141xl);
  background-color: var(--bgwhitewebsite);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs-6) var(--padding-xs);
  gap: var(--gap-6xs-4);
}
.placeholder1 {
  flex: 1;
  position: relative;
  line-height: 0.8rem;
}
.content3,
.hint {
  justify-content: flex-start;
}
.hint {
  width: 15rem;
  height: 1rem;
  display: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-11xs-6) var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--font-size-3xs-6);
  font-family: var(--font-figtree);
}
.content3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs-8);
  font-size: var(--font-size-smi-8);
  color: var(--website-secondary-text);
  font-family: var(--font-aboreto);
}
.form,
.input {
  display: flex;
  align-items: center;
}
.input {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs-2);
}
.form {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xs);
  text-align: left;
  font-size: var(--font-size-xs-2);
  font-family: var(--font-figtree);
}
.newsletter,
.subscribe-button {
  display: flex;
  align-items: flex-start;
}
.newsletter {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.subscribe-button {
  width: 18.063rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.newsletter-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.newsletter-container-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-15xl) var(--padding-mini-3) var(--padding-8xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--content-primary);
  font-family: var(--font-aboreto);
}
