@import url("https://fonts.googleapis.com/css2?family=Aboreto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-aboreto: Aboreto;
  --font-figtree: Figtree;
  --font-inter: Inter;
  --font-encode-sans: "Encode Sans";

  /* font sizes */
  --font-size-xs-2: 0.7rem;
  --font-size-3xs-6: 0.6rem;
  --font-size-smi-8: 0.8rem;
  --font-size-base: 1rem;
  --font-size-xs-5: 0.719rem;
  --font-size-2xs-2: 0.638rem;
  --font-size-base-4: 0.963rem;
  --font-size-4xs: 0.563rem;
  --font-size-12xl: 1.938rem;
  --font-size-5xl: 1.5rem;
  --font-size-6xs: 0.438rem;
  --font-size-smi-9: 0.806rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-4xs-4: 0.525rem;
  --font-size-2xs-5: 0.656rem;
  --font-size-3xs-4: 0.588rem;
  --font-size-3xs-8: 0.613rem;
  --font-size-11xl: 1.875rem;
  --font-size-xl: 1.25rem;
  --font-size-smi-6: 0.788rem;
  --font-size-5xs-8: 0.488rem;
  --font-size-4xs-8: 0.55rem;
  --font-size-xs-8: 0.738rem;
  --font-size-smi: 0.813rem;
  --font-size-mini-4: 0.9rem;
  --font-size-5xl-8: 1.55rem;
  --font-size-7xs-4: 0.338rem;
  --font-size-2xs-4: 0.65rem;
  --font-size-29xl: 3rem;

  /* Colors */
  --bgwhitewebsite: #fff;
  --website-secondary-text: #646a69;
  --color-gray-100: #8d8d8d;
  --text-default-secondary: #757575;
  --content-primary: #1d1f1e;
  --text-default-default: #1e1e1e;
  --color-gray-200: rgba(255, 255, 255, 0.5);
  --textblackwebsite: #333;
  --branding-orangewebsite: #ff6700;
  --color-orangered-100: #ca0000;
  --bgelementsgreywebsite: #f5f5f7;
  --bg-textelementsgreywebsite: #d5d5d5;
  --color-lightgray-100: #cfcfcf;
  --color-black: #000;
  --border-default-default: #d9d9d9;

  /* Spacing */
  --radius-xs: 0.275rem;
  --space-200: 0.5rem;
  --space-400: 1rem;
  --radius-200: 0.5rem;
  --padding-sm: 0.5rem;

  /* Gaps */
  --gap-xl: 1.25rem;
  --gap-13xl: 2rem;
  --gap-9xs-2: 0.2rem;
  --gap-8xs-8: 0.3rem;
  --gap-6xs-4: 0.4rem;
  --gap-smi-8: 0.8rem;
  --gap-sm-2: 0.825rem;
  --gap-lgi-6: 1.225rem;
  --gap-lgi-5: 1.218rem;
  --gap-7xs-1: 0.318rem;
  --gap-base: 1rem;
  --gap-lg: 1.125rem;
  --gap-xs: 0.75rem;
  --gap-25xl: 2.75rem;
  --gap-5xs: 0.5rem;
  --gap-2xs-8: 0.675rem;
  --gap-9xs: 0.25rem;
  --gap-5xl: 1.5rem;
  --gap-3xs: 0.625rem;
  --gap-8xs: 0.312rem;
  --gap-2xs: 0.687rem;
  --gap-xs-5: 0.718rem;
  --gap-2xl-5: 1.343rem;
  --gap-10xs-5: 0.156rem;
  --gap-smi-6: 0.787rem;
  --gap-4xs-4: 0.525rem;
  --gap-6xs-3: 0.393rem;
  --gap-6xs: 0.437rem;
  --gap-7xs: 0.375rem;
  --gap-base-7: 0.981rem;
  --gap-xs-8: 0.737rem;
  --gap-5xs-8: 0.487rem;
  --gap-7xs-9: 0.368rem;
  --gap-9xs-5: 0.218rem;
  --gap-2xl: 1.312rem;
  --gap-3xs-4: 0.587rem;
  --gap-xl-5: 1.281rem;
  --gap-10xs-8: 0.175rem;
  --gap-9xs-7: 0.231rem;
  --gap-mini-1: 0.881rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-3xl: 1.375rem;
  --padding-15xl: 2.125rem;
  --padding-mini-3: 0.893rem;
  --padding-8xl: 1.687rem;
  --padding-2xs: 0.687rem;
  --padding-11xs-6: 0.1rem;
  --padding-xs: 0.75rem;
  --padding-3xs-6: 0.6rem;
  --padding-5xl-1: 1.506rem;
  --padding-6xs-4: 0.4rem;
  --padding-8xs-4: 0.275rem;
  --padding-26xl: 2.812rem;
  --padding-6xl-5: 1.593rem;
  --padding-27xl: 2.875rem;
  --padding-44xl: 3.937rem;
  --padding-lg-5: 1.156rem;
  --padding-37xl: 3.5rem;
  --padding-19xl: 2.375rem;
  --padding-5xs: 0.5rem;
  --padding-9xl: 1.75rem;
  --padding-2xs-5: 0.656rem;
  --padding-5xs-4: 0.462rem;
  --padding-5xs-5: 0.468rem;
  --padding-4xs-6: 0.537rem;
  --padding-57xl: 4.75rem;
  --padding-50xl: 4.312rem;
  --padding-base-5: 1.031rem;
  --padding-12xs: 0.062rem;
  --padding-13xl: 2rem;
  --padding-base: 1rem;
  --padding-18xl: 2.312rem;
  --padding-6xs: 0.437rem;
  --padding-10xs: 0.187rem;
  --padding-5xl: 1.5rem;
  --padding-6xl: 1.562rem;
  --padding-2xl: 1.312rem;
  --padding-8xl-8: 1.737rem;
  --padding-mini: 0.937rem;
  --padding-9xs: 0.25rem;
  --padding-4xs: 0.562rem;
  --padding-4xl: 1.437rem;
  --padding-8xs: 0.312rem;
  --padding-53xl: 4.5rem;
  --padding-40xl: 3.687rem;
  --padding-29xl-4: 3.025rem;
  --padding-42xl: 3.812rem;
  --padding-43xl: 3.875rem;
  --padding-base-8: 1.05rem;
  --padding-41xl: 3.75rem;
  --padding-11xs-1: 0.068rem;
  --padding-7xs-9: 0.368rem;
  --padding-base-7: 0.981rem;
  --padding-base-6: 0.975rem;
  --padding-12xs-1: 0.006rem;
  --padding-12xs-9: 0.056rem;
  --padding-46xl: 4.062rem;
  --padding-7xs: 0.375rem;
  --padding-16xl: 2.187rem;
  --padding-97xl: 7.25rem;
  --padding-35xl-3: 3.393rem;
  --padding-17xl: 2.25rem;
  --padding-lgi-1: 1.193rem;
  --padding-mid: 1.062rem;
  --padding-3xs-5: 0.593rem;
  --padding-24xl: 2.687rem;

  /* Border radiuses */
  --br-141xl: 160px;
  --br-9xs-3: 3.3px;
  --br-8xs-4: 4.4px;
  --br-2xs-2: 10.2px;
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-8xs: 5px;
  --br-9xs-2: 3.2px;
  --br-4xs-4: 8.4px;
  --br-86xl: 105px;
  --br-5xs-8: 7.8px;
  --br-79xl: 98px;
  --br-6xs: 7px;
  --br-2xl-5: 21.5px;
  --br-81xl: 100px;
  --br-12xs: 1px;
}
